

<!--TO SHOW SUMMARY CARD WHICH CONTAIN ICON TITLE VALUE AND GRAPH-->
<div
  class="summary-card"
  [ngClass]="card().color">

  <div class="top-section">

    <div class="icon-wrapper">

      <mat-icon>
        {{ card().icon }}
      </mat-icon>

    </div>

    <div class="content">

      <div class="title">
        {{ card().title }}
      </div>

      <div class="value">
        {{ card().value }}
      </div>

      <div
        class="change"
        [ngClass]="{
          'up': card().isIncrease,
          'down': !card().isIncrease
        }">

        <mat-icon>

          {{ card().isIncrease
              ? 'arrow_upward'
              : 'arrow_downward'
          }}

        </mat-icon>

        <span>
          {{ card().change }}
        </span>

      </div>

    </div>

  </div>
  
    <div class="chart-container">

    <canvas
      baseChart

      [type]="'line'"

      [data]="lineChartData"

      [options]="lineChartOptions">
    </canvas>

  </div>

</div>