


<div class="login-container">
   <div class="login-wrapper">

  <!-- LEFT SIDE IMAGE -->

  <div class="branding-panel left-panel">

    <img
      src="assets/images/login/banner.png"
      alt="Banking Banner">


  </div>

  <!-- RIGHT SIDE LOGIN -->

  <div class="login-panel right-panel" >

   
    <!-- LOGIN CARD -->

    <mat-card class="login-card">

      <!-- HEADER -->

      <div class="card-header">

        <h1>Welcome Back!</h1>

        <p>
          Sign in to continue to TrustBank Operations Platform
        </p>

      </div>

    
      <!-- FORM -->

      <app-login-form></app-login-form>

    </mat-card>

    <!-- SECURITY CARD -->

    <mat-card class="security-card">

      <div class="security-left">

        <mat-icon class="lock-icon">
          lock
        </mat-icon>

        <div class="security">

          <h4 class="security-header">Secure Login</h4>

          <p class="security-text">
            Your connection is encrypted and secure
          </p>

        </div>

      </div>

      <div class="security-right">

        <mat-icon>
          verified
        </mat-icon>

        <span>256-bit SSL</span>

      </div>

    </mat-card>

    <!-- FOOTER -->

    <div class="footer-links">

      <div class="footer-left">
           <span>
        © 2025 TrustBank. All rights reserved.
      </span>
      </div>
     
      <div class="links footer-right">

        <a href="#">Security Policy</a> |

        <a href="#">Privacy Policy</a>|

        <a href="#">Support</a>

      </div>
      

    </div>

  </div>

</div>

</div>